.footerBar {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: grey;
  text-align: center;
}

.footerBar ul {
    margin: 0;
    list-style: none;
    float: right;
    padding: 10px;
}

.footerBar li {
    display: inline;
    margin: 0;
    padding: 10px;
}

.slides {
    max-width: 75%;
    max-height: 75%;
    margin: auto;
}

.post-img {
    max-width: 50%;
}

.post-content {
    margin: 5% auto;
    padding: 10px;
    
    text-align: center;
}

.post-content h1 {
    font-weight: lighter;
}

.post-content h3 {
    font-weight: lighter;
    font-size: 1.5em;
}